$green: #3A6150;
$light_green: #3A6150B2;
$green_dark: #71837B;
$white: #fff;
$silver: #00000099;
$silver_light: #11111180;
$red: #FF0000;
$grey: #8392A6;
$grey_light: #E9E9E9;
$ghost_white: #F9F9F9;
$black: #000;

$tabletWidth: 1024px;
$mobileWidth: 768px;