.footer{
  &__wrapper {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
  }

  &__infoSubtitle  {
    margin: 20px 0 30px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__email {
    width: 310px;
    height: 47px;
    border: none;
    border-bottom: 1px solid $green;

    &:focus {
      outline: 1px solid $light_green;
    }
  }

  &__listItem {
    margin-bottom: 15px;
  }

  &__listLink {
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__linkWrapper {
    margin: 10px 0 30px;
    display: flex;
    flex-direction: column;
  }

  &__contactsLink {
    margin-bottom: 10px;
    color: $silver;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:last-child{
      text-decoration: underline;
    }
  }

  &__payments {
    display: flex;
    align-items: center;
  }

  &__payment {
    margin-right: 35px;
  }

  &__line {
    border: none;
    border-top: 1px solid $grey_light;
  }

  &__terms {
    margin-left: auto;
  }

  &__termsList {
    display: flex;
  }

  &__termListItem:not(:last-child) {
    margin-right: 15px;
  }

  &__termLink {
    color: $silver;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: $tabletWidth) {
  .footer {
    &__wrapper {
      flex-direction: column;
    }

    &__list {
      display: flex;
      margin: 30px 0 20px;
    }

    &__listItem {
      margin-right: 15px;
    }

    &__copyright {
      position: relative;
      left: 0;
    transform: translateX(0);
    }

    &__additionInfo {
      flex-direction: row;
    }

    &__terms {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    &__form {
      flex-direction: column;
    }

    &__email {
      width: 100%;
      margin-bottom: 15px;
    }

    &__additionInfo {
      flex-direction: column;
      align-items: center;
    }

    &__terms {
      margin-top: 10px;
    }
  }
}